/* use this file to override default styles when forking this repository */

/*
  PAGE CONTENTS

  Customize the page that the chat bubble lives on
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.voiceflow-chat {}

.vfrc-launcher {}

.vfrc-chat--overlay {}

/* .vfrc-prompt {} */

/*
  CHAT WIDGET HEADER

  Customize the content, controls and styling included in your chat widget header, including the Assistant Information.
  Note that changes to the assistant information here will be shared across other elements that consume this styling.
*/
/* .c-kCDKCe{
  color: black;
} */
.vfrc-header {}

.vfrc-assistant-info {
  padding: initial;
}

.vfrc-assistant-info--title {
  display: none;

  visibility: hidden;

}
.vfrc-header--title{
  display: none;
}
.vfrc-assistant-info--description {
  display: none;
  visibility: hidden;

}
.c-dxAZjf .c-dhzjXW{
  color: initial;
}
#vf-minus{
  display: none;
}
.vfrc-icon{
  position: absolute;
    right: 20px;
}
.vfrc-header{
  background-color: initial;
}
.vfrc-avatar {


}
.c-kIbiaN-ijJeTuS-css{
  display: none;
}
.c-kIbiaN-eyfkxi-size-large{
  display: none;
}
.vfrc-chat-input{
  display: none;
}


.chat-input-wrapper {
  display: none !important;  /* This hides the default input section */
}

.c-kIbiaN-idoPyan-css{
background-image: url('./Assets/Images/profile1.png');
}
/* .vfrc-icon {} */
.vfrc-chat{
  /* background-color : transparent; */
  top : -150px;
  border-radius: 25px;
  opacity: 0.8;
}
.c-PJLV-bOsang-from-user{
  background-color: #B0ABAB;
}
.c-jZeVGh-XJvOL-type-warn{

  background-color: #B0ABAB;
}
.c-jZeVGh-XJvOL-type-warn:hover{

  background-color: #5e5e5e;
}
/*
  CHAT MESSAGE BODY

  Customize the layout and display of the chat body, and the conversation's metadata
*/
.Z3zhp7CS7tNsCSX6_KJW{
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.Es8downQlxiASDyltHtn *, .Es8downQlxiASDyltHtn *::before, .Es8downQlxiASDyltHtn *::after{
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
}
}
.vfrc-chat {
  /* background-color: #A3A3A3; */
  z-index: 5;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  
}
.c-iCDrnV{
box-shadow: initial;
}
.vfrc-chat--dialog {
  height: initial;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.c-kLDnXB{
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}

/* .vfrc-chat--spacer {} */

/* .vfrc-chat--session-time {} */

/* .vfrc-chat--status {} */

/* .vfrc-message {} */

/* .vfrc-timestamp {} */

/*
  ASSISTANT RESPONSES

  Customize the style and layout of assistant response messages.
*/

/* .vfrc-system-response--indicator {} */

/* .vfrc-system-response {} */

/* .vfrc-system-response--controls {} */

/* .vfrc-system-response--list {} */

/* .vfrc-system-response--actions {} */

/* .vfrc-button {} */

/* .vfrc-image {} */

/* .vfrc-image--background {} */

/* .vfrc-card--content {} */

/* .vfrc-card--header {} */

/* .vfrc-card--description {} */

/* .vfrc-carousel {} */

/* .vfrc-carousel--button {} */

/* Targeted styling for just the Assistant messages. */
/* .vfrc-system-response .vfrc-message {} */

/* Targeted styling for just the Assistant buttons. */
/* .vfrc-system-response .vfrc-button {} */

/*
  USER RESPONSES

  Customize the style and layout of users response messages.
*/

/* .vfrc-user-response {} */

/* Targeted styling for just the User messages */
/* .vfrc-user-response .vfrc-message {} */

/*
  FOOTER

  Customize the layout and appearance of the message input field and the VF Branding
*/

/* .vf-footer {} */

/* .vfrc-input {} */

/* .vfrc-chat-input--button {} */

.vfrc-footer--watermark {
  display: none;
}

body {
  background-color: bisque;
}